
{% extends "layouts/main.html" %}

{% block pageTitle %}
  When was the vaccination given? – GOV.UK
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "/v1-5/who-gave-the-vaccine"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if errorSummary %}
      {{ govukErrorSummary(errorSummary) }}
    {% endif %}

    <form action="/v1-5/enter-vaccination-date" method="post" novalidate>

      {{ govukDateInput({
        id: "vaccinationDate",
        namePrefix: "vaccinationDate",
        errorMessage: { text: errors['vaccinationDate'].text } if errors and errors['vaccinationDate'],
        hint: {
          text: "For example, 27 4 2026"
        },
        fieldset: {
          legend: {
            text: "What was the date of vaccination?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            name: "day",
            classes: "govuk-input--width-2",
            value: data['vaccinationDateDay']
          },
          {
            name: "month",
            classes: "govuk-input--width-2",
            value: data['vaccinationDateMonth']
          },
          {
            name: "year",
            classes: "govuk-input--width-4",
            value: data['vaccinationDateYear']
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

  </div>
</div>
{% endblock %}
