{% extends "layouts/main.html" %}
{% block pageTitle %}Create your GOV.UK One Login or sign in – GOV.UK{% endblock %}

{% block beforeContent %}
{{ govukBackLink({ text: "Back", href: "/v1-1/sign-in" }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Create your GOV.UK One Login or sign in</h1>

    <p class="govuk-body">
      You can use one GOV.UK One Login account for all services that use GOV.UK One Login.
    </p>

    <p class="govuk-body">
      This is different from Government Gateway.
    </p>

    {{ govukButton({
      text: "Continue",
      href: "/v1-1/one-login-email"
    }) }}

  </div>
</div>
{% endblock %}