{% extends "layouts/main.html" %}

{% block pageTitle %}
  Prepare a list – GOV.UK
{% endblock %}

{% block beforeContent %}
{% set backHref = "/v1-0/dashboard" %}
{% if data['prepareListBackLink'] == 'workorder' %}
  {% set backHref = "/v1-0/workorder-tasks" %}
{% endif %}
{{ govukBackLink({
  text: "Back",
  href: backHref
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="/v1-0/choose-cattle" method="post">

      {{ govukRadios({
        name: "listType",
        fieldset: {
          legend: {
            text: "What is this list for?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        value: data['listType'],
        items: [
          {
            value: "vaccination",
            text: "Vaccination"
          },
          {
            value: "tb-testing",
            text: "TB testing"
          },
          {
            value: "both",
            text: "Vaccination and TB testing"
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

  </div>
</div>

{% endblock %}
