{% extends "layouts/main.html" %}

{% block pageTitle %}
  Sign in – Your service – GOV.UK
{% endblock %}

{% block content %}

<a href="javascript:history.back()" class="govuk-back-link">Back</a>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Sign in</h1>

    <form action="/v1-0/sign-in" method="post">

      {{ govukInput({
        label: {
          text: "Email address"
        },
        id: "email",
        name: "email",
        autocomplete: "email"
      }) }}

      {{ govukInput({
        label: {
          text: "Password"
        },
        id: "password",
        name: "password",
        type: "password",
        autocomplete: "current-password"
      }) }}

      {{ govukButton({
        text: "Sign in"
      }) }}

    </form>

    <p class="govuk-body">
      <a href="/forgot-password" class="govuk-link">Forgot your password?</a>
    </p>

    <p class="govuk-body">
      <a href="/create-account" class="govuk-link">Create an account</a>
    </p>

  </div>
</div>

{% endblock %}
