{% extends "layouts/main.html" %}

{% block pageTitle %}
  Enter diluent batch details – GOV.UK
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "/v1-2/enter-vaccine-batch-details"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% if errorSummary %}
      {{ govukErrorSummary(errorSummary) }}
    {% endif %}

    <form action="/v1-2/enter-diluent-batch-details" method="post" novalidate>
      <h1 class="govuk-heading-l">Enter the diluent batch details</h1>

      {{ govukInput({
        label: {
          text: "Diluent batch number",
          classes: "govuk-label--m"
        },
        hint: {
          text: "For example, 37925B"
        },
        id: "diluentBatchNumber",
        name: "diluentBatchNumber",
        value: data['diluentBatchNumber'],
        errorMessage: { text: errors['diluentBatchNumber'].text } if errors and errors['diluentBatchNumber']
      }) }}

      {{ govukDateInput({
        id: "diluentBatchExpiryDate",
        namePrefix: "diluentBatchExpiryDate",
        fieldset: {
          legend: {
            text: "Expiry date",
            classes: "govuk-fieldset__legend--m"
          }
        },
        hint: {
          text: "For example, 05 2029"
        },
        errorMessage: { text: errors['diluentBatchExpiryDate'].text } if errors and errors['diluentBatchExpiryDate'],
        items: [
          {
            name: "month",
            classes: "govuk-input--width-2",
            value: data['diluentBatchExpiryDateMonth']
          },
          {
            name: "year",
            classes: "govuk-input--width-4",
            value: data['diluentBatchExpiryDateYear']
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}
    </form>
  </div>
</div>
{% endblock %}
