{% extends "layouts/main.html" %}

{% block pageTitle %}
  How do you want to sign in?
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% if errorSummary %}
      {{ govukErrorSummary(errorSummary) }}
    {% endif %}

    <form action="/v1-3/sign-in" method="post" novalidate>
      {{ govukRadios({
        idPrefix: "signInMethod",
        name: "signInMethod",
        value: data['signInMethod'],
        fieldset: {
          legend: {
            text: "How do you want to sign in?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        errorMessage: { text: errors['signInMethod'].text } if errors and errors['signInMethod'],
        items: [
          {
            value: "one-login",
            html: "<strong>Sign in with GOV.UK One Login</strong>",
            hint: {
              text: "Use your usual email address. If you do not have a GOV.UK One Login, you can create one"
            }
          },
          {
            value: "government-gateway",
            html: "<strong>Sign in with Government Gateway</strong>",
            hint: {
              text: "You will have a user ID if you are registered for Self Assessment or have filed a tax return online before"
            }
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}
    </form>
  </div>
</div>
{% endblock %}
