{% extends "layouts/main.html" %}

{% block pageTitle %}
  Are there more cattle to add? – GOV.UK
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "/v1-3/skin-test-all-tested"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if errorSummary %}
      {{ govukErrorSummary(errorSummary) }}
    {% endif %}

    <span class="govuk-caption-l">{{ data['herd']['farm'] }}</span>
    <h1 class="govuk-heading-l">Are there more cattle to add?</h1>

    <p class="govuk-body">
      Add any animals that weren't on the original list for testing. For example, if a new animal was added to the herd.
    </p>

    <form action="/v1-3/skin-test-add-cattle-question" method="post" novalidate>

      {{ govukRadios({
        idPrefix: "addMoreCattle",
        name: "addMoreCattle",
        value: data['addMoreCattle'],
        errorMessage: { text: errors['addMoreCattle'].text } if errors and errors['addMoreCattle'],
        fieldset: {
          legend: {
            text: "Are there more cattle to add?",
            classes: "govuk-visually-hidden"
          }
        },
        items: [
          { value: "yes", text: "Yes, add more" },
          { value: "no",  text: "No, continue to review" }
        ]
      }) }}

      {{ govukButton({ text: "Continue" }) }}

    </form>

  </div>
</div>
{% endblock %}
